albumentations==1.3.0
datasets==2.20.0
ftfy==6.3.1
IMDLBenCo==0.1.22
IMDLBenCo.egg==info
numpy==1.24.4
omegaconf==2.3.0
opencv_contrib_python==4.10.0.84
opencv_python==4.7.0.68
opencv_python_headless==4.9.0.80
Pillow==9.5.0
Pillow==11.1.0
regex==2023.12.25
setuptools==72.1.0
setuptools==60.2.0
timm==1.0.15
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.4
tqdm==4.66.5
